@import "lib/govuk-frontend/dist/govuk/settings";

// Applies "focus" button border on hover. This is usually only seen while clicking.
// Clicking still gives visual feedback through the button shrinking.
// Added as part of resolving accessibility report feedback.
// https://github.com/alphagov/govuk-frontend/blob/main/packages/govuk-frontend/src/govuk/components/button/_index.scss#L113-L124

.govuk-button {
  &:hover {
    border-color: $govuk-focus-colour;
    outline: $govuk-focus-width solid transparent;
    box-shadow: inset 0 0 0 1px $govuk-focus-colour;
  }
}
