@import "lib/govuk-frontend/dist/govuk/settings";

// Takes the styling applied on focus from keyboard, and expands it to mouse hover.
// Added as part of resolving accessibility report feedback.
// https://github.com/alphagov/govuk-frontend/blob/main/packages/govuk-frontend/src/govuk/components/radios/_index.scss#L107-L125

$govuk-radios-focus-width: $govuk-focus-width + 1px;

// Hover state (derived from focus state)
.govuk-radios__input:hover + .govuk-radios__label::before {
  border-width: 4px;

  // When colours are overridden, the yellow box-shadow becomes invisible
  // which means the focus state is less obvious. By adding a transparent
  // outline, which becomes solid (text-coloured) in that context, we ensure
  // the focus remains clearly visible.
  outline: $govuk-focus-width solid transparent;
  outline-offset: 1px;

  // When in an explicit forced-color mode, we can use the Highlight system
  // color for the outline to better match focus states of native controls
  @media screen and (forced-colors: active), (-ms-high-contrast: active) {
    outline-color: Highlight;
  }

  box-shadow: 0 0 0 $govuk-radios-focus-width $govuk-focus-colour;
}
