@import config.FrontendAppConfig
@import viewmodels.LegendSize.Large

@this(
layout: templates.Layout,
formHelper: FormWithCSRF,
govukErrorSummary: GovukErrorSummary,
govukRadios: GovukRadios,
govukButton: GovukButton
)

@(form: Form[_], mode: Mode, addressLine1: String = "72 Guild Street", addressLine2: String = "", town_city: String = "Berlin", region: String = "", postcode: String = "SE23 6FH", country: String = "Germany")(implicit request: Request[_], appConfig: FrontendAppConfig, messages: Messages)

@addressItem(item: String) = {
@if(item.nonEmpty) {
<li>@item</li>
}
}

@layout(pageTitle = title(form, messages("captureContactAddress.title"))) {
@formHelper(action = controllers.subscription.routes.CaptureContactAddressController.onSubmit(mode), 'autoComplete -> "off") {
@if(form.errors.nonEmpty) {
@govukErrorSummary(ErrorSummaryViewModel(form, errorLinkOverrides = Map("value" -> "value_0")))
}
<span class="govuk-caption-l">@messages("captureContactAddress.heading.caption")</span>

@govukRadios(
RadiosViewModel.yesNo(
field = form("value"),
fieldset = FieldsetViewModel(Legend(HtmlContent(regAddress)))
)
)

@govukButton(
ButtonViewModel(messages("site.continue")).withAttribute("id", "submit")
)
}
}

@regAddress = {
<h1 class="govuk-heading-l long-word">@messages("captureContactAddress.heading")</h1>
<div class="govuk-inset-text">
    <ul class="govuk-list">
        @addressItem(addressLine1)
        @addressItem(addressLine2)
        @addressItem(town_city)
        @addressItem(region)
        @addressItem(postcode)
        @addressItem(country)
    </ul>
</div>
}
