@import "autocomplete";

.js-visible {
  display: none !important;
}
.js-enabled .js-visible {
  display: inline-block !important;
}
.long-word, .govuk-error-summary, .govuk-error-message {
  word-wrap: break-word;
}

.check-answer-all dl:nth-child(13n), .manage-contact-details > dl:nth-child(5n) {
    margin-bottom:0;
}
.no-border-bottom{
  border-bottom:none;
}

label[for="confirmation_0"] {
    padding-top: 0;
    font-weight: 600;
}

@media (min-width: 40.0625em) {
  .group-details-check-answer .govuk-summary-list__key
  {
    width: 42%;
  }
}

@media print {
  #print-this-page, .hmrc-sign-out-nav, .govuk-footer  {
    display: none !important;
  }
  .govuk-grid-column-two-thirds {
    width:100%;
  }
  a[href]:after {
    content: none !important;
  }
}

// PIL-962 - override character count error message to bold
.govuk-character-count__message.govuk-character-count__status.govuk-error-message {
    font-weight: 700 !important;
}

.hods-loading-spinner {
  padding-top: 15px;
}

.hods-loading-spinner__spinner {
  margin-left: auto;
  margin-right: auto;
  border: 15px solid #dee0e2;
  border-radius: 50%;
  border-top-color: #1d70b8;
  width: 100px;
  height: 100px;
  -webkit-animation: hods-loading-spinner-animation 2s linear infinite;
  animation: hods-loading-spinner-animation 2s linear infinite;
}

.hods-loading-spinner__content {
  padding-top: 15px;
  text-align: center;
}

@keyframes hods-loading-spinner-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



