.js-visible {
  display: none !important;
}
.js-enabled .js-visible {
  display: inline-block !important;
}
.long-word, .govuk-error-summary, .govuk-error-message {
  word-wrap: break-word;
}

.no-border-bottom{
border-bottom:none;
}
.govuk-grid-column-two-thirds > dl:nth-child(5n){
margin-bottom:0;
}