@import "location-autocomplete.min";

.js-visible {
  display: none !important;
}
.js-enabled .js-visible {
  display: inline-block !important;
}
.long-word, .govuk-error-summary, .govuk-error-message {
  word-wrap: break-word;
}

.no-border-bottom{
border-bottom:none;
}
.contact-details > dl:nth-child(3n){
margin-bottom:0;
}