
.table-scroll-wrapper {
    overflow-x: auto;
    width: 100%;
}

// Adds outline when the focus is on the table-scroll-wrapper
.table-scroll-wrapper:focus-visible {
    outline: 2px solid var(--govuk-focus-text-colour, #0b0c0c);
}

.govuk-table thead th {
    position: sticky;
    top: 0;
    background: #ffffff;
    z-index: 2;
    border-bottom: 2px solid #b1b4b6;
}
